.mobile_imges{
    display: none;

}
.homePageBanner_container {
    width: 100%;
    margin-bottom: 12px;
  }
 
  .HomePageBanner_image {
    width: 100%;
  }
  
.feature_brands_section{
  padding: 40px 0;
}
  

 
  /* .featuredBrandTitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 2;
    color: #525252;
    text-align: center;
    margin-bottom: 0;
  } */
.feature_brands{
  width: 200px;
  cursor: pointer;
  
}
 .feature_brands .FeaturedBrandImageContainer{
    width: 200px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .feature_brands .FeaturedBrandImageContainer img{
    width: 100%;
    max-height: 100%;
  }
  .About_weedx{
    background-color: #F9F9F9;
    padding: 30px 20px;
    margin: 40px 0;
  }
  .About_weedx .section_main_title{
    text-align: center;
  }
  .About_weedx .section_main_description{
    color: #707070;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }
  .about_card_Wraper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
margin-top: 30px;
  }
  .about_card_Wraper .about_card{
  transition: all .3s ease;
  padding: 20px;
  width: 23%;
  border-radius: 14px;
  border: 1px solid #E1E1E1;
  background: #FFF;
  }
  .about_card_Wraper .about_card:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .about_card_Wraper .about_card .about_text .acard_title{
    color: #191A1A;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
  }
  .about_card_Wraper .about_card .about_text .acard_description{
    color: #5A7184;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
  }
  .about_card_Wraper .about_card .about_card_img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .about_card_Wraper .about_card .about_card_img img{
    max-width: 100%;
  }
  .new_blog_card{
    width: 220px;
    border-radius: 8px;
    background-color: hsla(225, 2%, 66%, 0.1);
    padding: 10px;
    border: 1px solid #e9e9e9;
    height: 100%;
  }
  .actionBtn{
      margin-top: 10px;
      transition: all .4s ease;
      color: #31B665; 
      width: 100%; 
      border: 2px solid #31B665;
      height: 38px;
      font-size: 14px; 
      border-radius: 5px;
      text-transform: none;
      background-color: #ffff;
      font-weight: 500;
  }
  .textCapitalize{
    text-transform: lowercase;
  }
  .textCapitalize::first-letter{
    text-transform: uppercase;
  }
  .actionBtn:hover{
    color: #fff;
    border:  2px solid #31B655; 
    background-color: #00b96a;
  }
  .new_blog_card .new_blog_card_img{
     width: 100%;
     height: 140px;
  }
  .new_blog_card .new_blog_card_img img{
    width: 100%;
    height: 100%;
  }
  .blogs_card_slider .ScrollContainerRelative a{
    display: block;
  }
  .new_blog_card_text{
    margin-top: 10px;
  }
  .new_blog_card_text .latest_font_size {
    display: block;
    font-weight: 600;
    font-size: 14px;
    color: #3a3a3a;
    line-height:1.5;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .common_sub_head {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    color: rgb(82, 82, 82);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .new_blog_card_text .common_sub_head h1 , .new_blog_card_text .common_sub_head h2 , .new_blog_card_text .common_sub_head h3 ,.new_blog_card_text .common_sub_head h4 ,.new_blog_card_text .common_sub_head h5 ,.new_blog_card_text .common_sub_head h6 {
    font-size: 14px;
    margin: 0;
  }

  .new_blog_card_text .common_sub_head p{
    font-size: 14px;
  }
  @media only screen and (max-width: 1366px){
    .about_card_Wraper .about_card{
      padding: 10px;
      width: 24%;
    }
  
  }
  @media only screen and (max-width: 992px){
    .about_card_Wraper .about_card{
      padding: 25px;
      width: 48%;
    }
   
    .about_card_Wraper{
    row-gap: 30px;
    }
  }
  @media only screen and (max-width: 768px){
      .mobile_imges{
          display: block;
      
      }
      .About_weedx .section_main_description{
        font-size: 12px;
      }
      .destop_image{
          display: none;
      }
      .about_card_Wraper .about_card{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      
      }
      .about_card_img{
        width: 25%;
      }
      .about_text{
        width: 70%;
      }
    .about_card_Wraper .about_card .about_text .acard_title{
      text-align: left;
      }
  }
  @media only screen and (max-width: 480px){
    .About_weedx{
      background-color: #F9F9F9;
      padding:10px;
    }
    .catagoryTabs_section{
      padding: 10px;
    }
    .FeaturedBrandImage_height {
      height: 200px;
      width: 100%;
    }
    .about_card_Wraper .about_card{
      padding: 20px;
    }
  
    .about_card_img{
      width: 100%;
    }
    .about_text{
      width: 100%;
    }
    .about_card_Wraper .about_card{
    flex-wrap: wrap;
    
    }
    .about_card_Wraper .about_card .about_text .acard_title{
      text-align: center;
    }
    
  }