
.addToCartPopUpImage_background {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: 1px solid #FFFFFF;
  }
  
  .marginRow {
    margin-top: 100px;
  }
  
  .AddToCartHeading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
  }
  
  .AddToCartHeading p {
    color: rgb(74, 74, 74);
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.0625rem;
    line-height: 1.5;
    text-align: center;
  }
  
  .AddToCartParagraphHeight {
    height: 100px;
  }
  
  .AddToCartParagraphHeight p {
    color: rgb(124, 124, 124);
    font-size: 1rem;
    text-align: center;
  }
