.product_card_wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}
.productSearch_result_container{
    width: 220px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 8px;
    padding: 10px;
    position: relative;
    transition: all .3s ease;
    cursor: pointer;
}
.productSearch_result_container:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.productSearchResultImage_container{
    position: relative;
}
.discountTag{
    padding: 4px;
    color: white;
    background-color: #31B665;
    font-size: 12px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}
.productSearchResultImage_container .product_search_result_image{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
}
.product_search_result_content_div{
   margin-top: 10px;
}
.product_search_result_content_div .productSearchResultParagraph{
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    margin: 0;
    color: rgb(82, 82, 82);
}
.product_search_result_content_div .product_search_result_sub_heading{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    color: rgb(82, 82, 82);
}
.product_search_rating_star{
    margin: 0 2px;
}
.productSearch{
 margin-bottom: 10px;
 font-size: 12px;
}
.productSearchPrice{
    font-size: 14px;
    font-weight: 700;
}
.product_cart_review{
    display: flex;
    gap: 2px;
}

.productPriceDivHeight{
    color: black;
}
.product_category_list{
    color: rgba(0, 0, 0, 0.623);
}

@media only screen and (max-width: 768px){
    .productSearch_result_container{
        width: 45%;
        padding: 10px;
    }
    .similerproduxt .productSearch_result_container{
        width: 100%;
        padding: 10px;
    }
    .productSearchResultImage_container .product_search_result_image {
        width: 100%;
        height: 130px;
    }
    .product_search_result_content_div .productSearchResultParagraph{
        font-size: 14px;
        font-weight: 700;
    }
    .product_search_result_content_div .product_search_result_sub_heading{
        font-size: 12px;
    }
    .product_category_list .product_search_result_span1{
     font-size: 14px;
    }
    .productSearchPrice{
        font-size: 14px;
    }
    .product_card_wrapper{
        padding: 0;
        gap: 10px;
    }
}