* {

  font-family: 'Poppins';
  margin: 0px;
  padding: 0px;
}
.swiper{
  z-index: 0;
}

.jss1 {
  top: 0px;
}
/* Share Link Css Blog Section */
.rws-backdrop {

  justify-content: center;
}
/*  */
.noreview_title{
  font-size: 28px;

}
.selected {
  background-color: #007bff;
  color: #fff;
}
.NODataInOrderPage{
  height: 453px;
  background: #F0FFF6;
}
.nodatainOderText
{
  color: #000;

font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.nodatainOderTextp{
  color: #707070;

font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.nodataAlie{
  display: grid;
  justify-items: center;
}
.DisplayDiscount{
  display: flex;
  gap:10px
}
div a {


  text-decoration: none;
  display: contents;
}

div a:hover {
  opacity: 1;
  color: #00b96a;
  text-decoration: underline
}

div a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background: #00b96a;
  transition: all .45s;
}

.Fly button {
  width: 100%;
  background-color: transparent;
  border: 0px;
}

.flying_image {
  z-index: 10000;
  height: 10%;
  width: 20%;

}

.nav_list1 a {
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  display: flex;
}



.footer_section {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color: ghostwhite;
}

/* navbar */
.nav_btn {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 2px;
  /* margin-left: 55px; */


}

.center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.nav_list1 ul li {

  color: black;
  font-size: 16px;
  text-decoration: none;
  margin: 15px;
  position: relative;
  opacity: 0.7;
  font-weight: 500;
}

.nav_list1 ul li:hover {
  opacity: 1;
  color: #00b96a;
  text-decoration: underline
}



.nav_list1 ul li::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background: #00b96a;
  transition: all .45s;
}

.nav_list1>.anchor:hover::before {
  width: 80%;
}

.nav_list1 ul li :hover::before {
  width: 100%;
}

.nav_listl ul li {

  display: flex;
  gap: 40px;
  list-style-type: none;
  justify-content: flex-end;
  margin-right: 40px;
}

.Border {
  border: 1px solid #00b96a;
}


a {
  text-decoration: none;
  color: black;
}

/* navbar search */
.nav_search_bar_div {
  width: 693px;
  height: 45px;
  margin-top: 4px;

  display: flex;
  border-radius: 5px 5px;
}

@media (max-width:900px) {
  .nav_search_bar_div {
    width: 100%;
  }

}

.SearchBar {
  width: 100%;
  border-style: hidden;
  background: rgb(238, 238, 238);
}

/* .Search_Section{
  width: 50%;
} */
#Boder_left {
  border-left: 1px solid #6c757d4a;


}

.col_Search {
  justify-content: center;
  display: flex;
}

.nav_search_bar_div input:focus {
  outline: none;
}

.InputSearch {
  height: 30px;
  margin-top: 1px;
}

/* .search_icon{
  background-color: #00b96a;
  color: white;
  width: 53px;
  text-align: center;
  border-radius: 0px 3px 3px 0px;
} */

/* Active */
.active {
  outline: 3px solid #31B665;
}

/* End */

/* category */
.image_Div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: #FFFFFF;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 100px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.image_Div img {
  width: 50px;
  height: 50px;
}

.catgory_main_div {
  display: flex;

  gap: 30px;
}

.cat_main_div h6 {
  margin-left: 25px;
  margin-top: 15px;
  color: #707070;
}

.catgory_wraper {
  margin-left: 70px;
}

.category_container p {
  margin-left: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: #333333;
}



.Top {
  margin-top: 37px;
  border-bottom: 1px solid #AFAFAF;
}
@media (max-width:1800px) {
  .nav_li.nav_list1 ul {
    gap: 6%
  }

}

@media(max-width:900px) {
  .col_Search {
    margin-bottom: 10px;
  }
}


/* Top Navbar */
.nav_list1 ul {
  gap: 6%;
  cursor: pointer;
  display: flex;
   /* justify-content: center;  */
  list-style-type: none;
  color: gray;
}
.nav_list1 ul li {
  margin: 0px 0% 0 0%;
}

.Login_Sigup_button {
  justify-content: left;
  display: flex;
  gap: 10%;
  align-items: center;
}

@media (max-width:1536px) {
  .Login_Sigup_button {
    justify-content: end;
  }

  .Sapceing {
    gap: 38px;
  }

  .addyocardIcon {
    justify-content: center;
  }

  .Login_Sigup_logo {
    justify-content: center;
  }
}

.addyocardIcon {
  display: flex;
  gap: 11%;
  justify-content: flex-end;
}





.Heder_icon {
  height: 21px;
  justify-content: flex-end;
  gap: 5%;
  margin-top: 10px;
}

/* End */



/* WeedProduct */



.weed_had_btn {
  padding-left: 25px;
  padding-right: 25px;
  height: 100px;
  margin-top: 50px;
}

/* weedCArd */
/* end */

[data-reactroot] {
  height: 100%;
}




.u-vr {
  margin-bottom: 8px;
}

.u-vr-top {
  margin-top: 8px;
}



.google-map {
  padding: 20px;
  height: 100%;
  width: 100%;
}

.info-window {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 70px;
  padding-left: 85px;
  width: 300px;
}

.page {
  padding: 20px;
}

.map-container {
  height: 300px;
}


/* latestContest */

/* .latest_cont {
  padding: 10px;
  background: #f7f8f9;
  /* min-height: 250px; */
/* height: 380px; */
/* overflow-y: scroll;
overflow-x: hidden; */
/* border-radius: 10px;
} */
.BlogContainer {
  display: flex;
  gap: 30px;
}

.BlogContainer section {
  width: 306px;
  border-radius: 10px;
  height: 423px;
  padding: 14px;
  background: #f2f4f6;
}
@media(max-width:991px){
  .BlogContainer section{
    width: 342px;
  }
}
@media(max-width:540px){
  .BlogContainer section{
    width: 251px;
  } 
}
@media (max-width:480px) {
  .BlogContainer section {
    width: 95vw;
  }
}

.center_latest img {
  width: 100%;
  height: 248px;
}

.img_cont {
  min-height: 150px;
  min-width: 20%;
  border-radius: 10px;

}

.latest_content_div {
  /* min-height: 150px;
  padding-left: 10px; */
}

.blogEditerdata {
  font-size: 30px;
  font-weight: 700;
  line-height: 50px;
}

.centerImg {

  justify-content: center;
  align-items: center;
  height: 161px;
}

.centerImg img {
  width: 100%;
  height: 100%;
  border-radius: 10px;


}

.center_latest {
  display: flex;
  justify-content: center;

}

.latest_services {
  text-align: center;

}




.prod_main_cont:hover {
  outline: 2px solid #31B665;
}


/* Dispansires map*/
.Dispansires_map {
  position: relative;
  bottom: 765px;
}

@media (max-width: 768px) {
  .Dispansires_map {
    bottom: 0px;
  }
}

/* end */

/*CheckOut Loader css Price  */

.loader,
.loader:before,
.loader:after {
  width: 10px;
  /* update this to control the size */
  aspect-ratio: .5;
  display: grid;
  background: radial-gradient(#fff 68%, #0000 72%) center/100% 50% no-repeat;
  animation: load 1.2s infinite linear calc(var(--_s, 0)*.4s);
  transform: translate(calc(var(--_s, 0)*150%));
}

.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
}

.loader:before {
  --_s: -1
}

.loader:after {
  --_s: 1
}

@keyframes load {
  20% {
    background-position: top
  }

  40% {
    background-position: bottom
  }

  60% {
    background-position: center
  }
}


/* end */

.animated {
  background-repeat: no-repeat;
  background-position: left top;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-00px);
  }

  60% {
    -webkit-transform: translateY(-00px);
  }
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}
/* Navbar Select  tab*/
#Active li {
  opacity: 1;
  color: #00b96a;
  text-decoration: underline;

}

/* opacity: 1;
  color: #00b96a;
  text-decoration: underline; */


/* end */
.InstaColor {
  color: white;
  border-radius: 9px;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}


.Sapceing {
  gap: 16px;
}

@media (max-width:1439px) {
  .Sapceing {
    gap: 38px;
  }

  .Login_Sigup_button {
    justify-content: center;
  }
}

@media (max-width:1000px) {
  .Sapceing {
    gap: 48px;
  }

}



#layout {

  padding-left: 0;
  padding-right: 0;
}

.ScrollContainer {
  width: 100%;
  display: inherit;
  gap: 10%;
  justify-content: space-around;
}

.ScrollContainerRelative {
  width: 100%;
  display: flex;
  gap: 2.6%;
  justify-content: normal;
  ;
  position: relative;
  overflow-x: scroll;
}
.ScrollContainerRelative::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.ScrollContainerRelative {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.PopperLIst {
  list-style: none;
  display: flex;
  gap: 10px;
  padding-left: 20px;
}


.pac-container {
  z-index: 2000;
  width: 100%;
  /* position: initial ; */
  left: 0;
  right: 0;
  display: block;
}

.pac-container:empty {
  display: none;
}

@media (max-width: 900px) {

  .pac-container,
  .pac-item {
    z-index: 10000 !important;
    width: 90% !important;
    /* position: initial !important; */
    left: 23px !important;
    right: 0 !important;
    /* display: block !important; */

  }
}

.pac-icon {
  /* background-image: url('./assets/locationMark.svg') !important; */
  /* background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 14px 18px; */
}

.pac-container:after {
  display: none !important;
}

.SearcchIcon {
  margin-top: 6px;
  margin-left: 17px;
  position: absolute;
}

.Input {
  padding-left: 37px;
  padding-inline-end: 21px;
}

.suggestions-container {
  position: absolute;
  background-color: white;
}



@media (max-width: 1439px) {
  .addyocardIcon {
    justify-content: end;
  }

}

.CategoryBordrr {
  padding: 30px 0;
}
.disp_head{
  position: relative;
}

/* Category Skeleton */
.CategorySkeleton {
  display: flex;
  margin-inline: 19p;
  gap: 228px;
  padding-top: 59px;
}

/* end */



.AgeSetPOpup {
  margin-top: 4px;
  border-radius: 35px;
  gap: 16px;
  padding-left: 10px;
  background-color: #ffe791;
  height: 70px;
  align-items: center;
  display: flex;
  color: #000000;
  font-weight: 700;
  padding-left: 20px;
}

@media(max-width:482px) {
  .AgeSetPOpup {
    font-size: 10px;
    height: 48px;
    gap: 8px;

  }
}


/* Cookies Accept */
.AcceptCookies {
  display: flex;
  background-color: rgba(52, 70, 90, .87);
  bottom: 0;
  color: #fff;
  font-size: 14px;
  justify-content: center;
  line-height: 1.5;
  padding: 20px;
  position: fixed;
  z-index: 1000;
}

.AcceptCookiesContent {
  /* border: 1px solid black; */
  text-align: center;
}
.AcceptCookiesContent P{
  font-size: 12px;
}
.Cookiessetting {
  margin-top: 20px;
  font-size: 13px;
}

@media(min-width: 996px) {
  .MediaFCookiesAccept {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
}

.cookiesSetting_Typography {
  font-weight: 700;
  font-size: 14px;
}

.CookiesA {
  align-items: center;
  color: #727272;
  color: var(--pot-grey-80);
  display: flex;
  flex: 2 0 46px;
  font-size: 12px;
  font-weight: 700;
  justify-content: flex-end;
  line-height: 16px;
  /* margin-left: 32px; */
  text-align: center;
}

.help-block {
  font-size: small;
  color: #c90707;
}




/* end */


/* BlogEditer */


/* end */


#center1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.BolgCommentBOx{
  width: 100%;
  min-height: 150px;
  padding: 8px;
}
.Display_blog {
  display: flex;
  height: 50px;
}

@media(max-width: 996px) {
  .Display_blog {
    display: block;
  }

  .BlogLink {
    height: 185px;

  }
}
@media (max-width:996px) {
  .hidiingBLog{
    display: none;
  }
  .SizeBlog{
    width: 100%;
  }
  
}

.viewsBlog {

}

.like {
  width: 100%;
}



/* WhishList */
.WhisListTop{
  align-items: center;
    display: flex;
    justify-content: center;
    color: rgb(255, 88, 93);
}
.TypographyWishList{
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.003125rem;
  line-height: 1.75rem;
}
.TypographyWishList1{
  padding: 0px;
  font-size: 14px;
  letter-spacing: 0.003125rem;
  line-height: 1.25rem;
}
.TypographyWishList2{
  gap: 10px;
  display: flex;
  margin: 0px;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
/* end */
/* Forget _Otp */
.login_otp_heads {
  font-size: .7rem;
}
.otp_input input {
    position: relative;
    height: 2rem;
    min-width: 25px;
    background-color: #F7F7F7;
    border: 1px solid green;
}
/* End */


.learn_product_card_wrapper{
  display: flex;
  gap: 20px;
  margin: 40px 0;
}
.learn_product_card{
  width: 260px;
  border-radius: 8px;
  overflow: hidden;
}
.learn_product_card .card_ig img{
  width: 100%;
}
.learn_product_card .card_titile_box{
   background-color: #0000006a;
}
.learn_product_card .card_titile_box  .card_title{
  font-size: 14px;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 3px 10px;
  color: #fff;
}
.learnproduct_content .main_title{
 margin-top: 30px;
 font-size: 18px;
 line-height: 1.5;
 font-weight: 700;
}
.learnproduct_content p{
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
}
.learnproduct_content img{
 width: 100%;
 max-height: 500px;
}
.opning_time p.currentDay{
  color: #000000;
  font-weight: 600;
}
