@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800&display=swap');


.lawDisclaimer{
    font-size: 12px;
    font-weight: 400;
    color: #8a8a8a;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ebebeb;
}
.blogCardImage {
    width: 100px;
}
.ad_page{
    .ad_imageTextSection{
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
       align-items: center;
       flex-wrap: wrap;
        .ad_textArea{
            width: 58%;
        }
        .ad_Img_Area{
            width:38%;
        }
    }
    .section_box{
         margin: 40px 0;
    }
    .ad_footer{
        background-color: #A4FDD8;
        padding: 20px;
        color: #fff !important;
        border-radius: 5px;
    }
    .section_boxBanner{
        background-color:rgb(240, 240, 240);
        padding: 30px;
        margin: 40px 0;
        .ad_imageTextSection{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            .ad_textArea{
               width: 50%;
            }
            .ad_Img_Area{
              width: 47%;
            }
        }
    }
    h3{
        font-family: 'Inter', sans-serif;
        font-size: 22px;
        line-height: 1.5;
        font-weight: 700;
        color: #131313;
    }
    h2{
        font-family: 'Poppins', sans-serif;
        font-size: 28px;
        line-height: 1.5;
        font-weight: 700;
        width: 100%;
        color: #131313;
    }
    h4{
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        line-height: 1.5;
        font-weight: 600;
        color: #242424;

    }
    P{
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
        color: #242424;
        width: 100%;
    }
   ul{
    li{
        p{
            margin-bottom: 8px;
        }
    }
   }
   button{
    border: none;
    border-radius: 4px;
    background-color: #31B655;
    color: #fff;
    font-size: 16px;
    line-height: 1.3;
    padding: 8px 20px;
    color: #fff;
    font-weight: 600;
    a{
        color: #fff;
        text-decoration: none;
    }
    &:hover{
        background-color: #fff;
        transition: all .4s ease;
        a{
            color: #31B655;
        }
    }
   }
}
// .term_condition {
// 	.tc_content {
// 		.tc_main_centent {
// 			color: #000;
// 			font-size: 22px;
// 			font-style: normal;
// 			font-weight: 700;
// 			li {
// 				margin-bottom: 40px;
// 				.answer {
// 					color: #666;
// 					font-size: 18px;
// 					font-weight: 400;
// 					line-height: 1.3;
// 					display: block;
// 					margin-bottom: 10px;
// 					a {
// 						color: #31B665;
// 						font-size: 18px;
// 						font-weight: 400;
// 						line-height: 1.3;
// 					}
// 				}
// 			}
// 			.question {
// 				display: block;
// 				color: #000;
// 				font-size: 22px;
// 				font-style: normal;
// 				font-weight: 700;
// 				line-height: normal;
// 			}
// 		}
// 	}
// }


@media (max-width: 1200px){
    .ad_page{
        .ad_imageTextSection{
        
         
            .ad_Img_Area{
              
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
        .section_boxBanner{
          
            padding: 30px;
            margin: 40px 0;
            .ad_imageTextSection{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                .ad_textArea{
                   width: 50%;
                }
                .ad_Img_Area{
                  width: 47%;
                }
            }
        }
    }
}
@media (max-width:992px){
    .ad_page{
        .ad_imageTextSection{
            margin-bottom: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            .ad_textArea{
                width: 58%;
            }
            .ad_Img_Area{
                width:38%;
            }
        }
        h3{
            font-size: 20px;
        }
        h2{
            font-size: 24px;
        }
        h4{
            font-size: 18px;
        }
        P{
            font-size: 14px;
        }
       ul{
        li{
            p{
                margin-bottom: 8px;
            }
        }
       }
    }
}
@media (max-width:768px){
    .ad_page{
        .ad_imageTextSection{
            margin-bottom: 40px;
            .ad_textArea{
                width: 100%;
                order: 2;
            }
            .ad_Img_Area{
                width:100%;
                order: 1;
                text-align: center;
                img{
                    width: 80%;
                }
            }
        }
        .section_boxBanner{
          
            padding: 20px;
            .ad_imageTextSection{
                gap: 30px;
                .ad_textArea{
                   width: 100%;

                }
                .ad_Img_Area{
                  width: 100%;
                }
            }
        }
        h3{
            font-size: 20px;
        }
        h2{
            font-size: 24px;
        }
        h4{
            font-size: 18px;
        }
        P{
            font-size: 14px;
        }
       ul{
        li{
            p{
                margin-bottom: 8px;
            }
        }
       }
    }
}
@media (max-width:576px){
    .ad_page{
        .ad_imageTextSection{
            margin-bottom: 24px;
            .ad_textArea{
                width: 100%;
                order: 2;
            }
            .ad_Img_Area{
                width:100%;
                order: 1;
                text-align: center;
                img{
                    width: 80%;
                }
            }
        }
        h3{
            font-size: 18px;
        }
        h2{
            font-size: 20px;
        }
        h4{
            font-size: 16px;
        }
        P{
            font-size: 12px;
        }
       ul{
        li{
            p{
                margin-bottom: 8px;
            }
        }
       }
    }
}