.page_breadcrum span {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
}

.lawDisclaimer {
  font-size: 12px;
  font-weight: 400;
  color: #8a8a8a;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ebebeb;
}

.viewallbtn {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.viewallbtn:hover {
  color: #31B655;
}

.blogCardImage {
  width: 100px;
}

.CategoryBordrr .catagoryTabs_section {
  padding: 10px;
}
.CategoryBordrr .catagoryTabs_section .shopByCategoryHeading {
  font-weight: 700;
  font-size: 25px;
  color: #333333;
  line-height: 2;
}
.CategoryBordrr .catagoryTabs_section .CategorySliderImageBlock .catagoriesTabImg {
  width: 120px;
  height: 120px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: all 0.3s ease;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid transparent;
  border-radius: 50%;
}
.CategoryBordrr .catagoryTabs_section .CategorySliderImageBlock .catagoriesTabImg:hover {
  border: 2px solid #31B665;
}
.CategoryBordrr .catagoryTabs_section .CategorySliderImageBlock .Category_title p {
  font-weight: 400;
  font-size: 14px;
  color: #707070;
  margin: 0;
  text-transform: capitalize;
}

.homecardRating {
  position: absolute;
  top: 1px;
  right: 1px;
  background-color: #31B655;
  border-radius: 0 10px 0 10px;
  padding: 2px 4px;
}

.ad_page .ad_imageTextSection {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.ad_page .ad_imageTextSection .ad_textArea {
  width: 58%;
}
.ad_page .ad_imageTextSection .ad_Img_Area {
  width: 38%;
}
.ad_page .section_box {
  margin: 40px 0;
}
.ad_page .ad_footer {
  background-color: #A4FDD8;
  padding: 20px;
  color: #fff !important;
  border-radius: 5px;
}
.ad_page .section_boxBanner {
  background-color: rgb(240, 240, 240);
  padding: 30px;
  margin: 40px 0;
}
.ad_page .section_boxBanner .ad_imageTextSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.ad_page .section_boxBanner .ad_imageTextSection .ad_textArea {
  width: 50%;
}
.ad_page .section_boxBanner .ad_imageTextSection .ad_Img_Area {
  width: 47%;
}
.ad_page h3 {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  line-height: 1.5;
  font-weight: 700;
  color: #131313;
}
.ad_page h2 {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  line-height: 1.5;
  font-weight: 700;
  width: 100%;
  color: #131313;
}
.ad_page h4 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 600;
  color: #242424;
}
.ad_page P {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  color: #242424;
  width: 100%;
}
.ad_page ul li p {
  margin-bottom: 8px;
}
.ad_page button {
  border: none;
  border-radius: 4px;
  background-color: #31B655;
  color: #fff;
  font-size: 16px;
  line-height: 1.3;
  padding: 8px 20px;
  color: #fff;
  font-weight: 600;
}
.ad_page button a {
  color: #fff;
  text-decoration: none;
}
.ad_page button:hover {
  background-color: #fff;
  transition: all 0.4s ease;
}
.ad_page button:hover a {
  color: #31B655;
}

.NavbarBox {
  background-color: #fff;
  padding: 10px 0;
}
.NavbarBox .openbtn {
  border-radius: 4px;
  height: 25px;
  width: 27px;
  background-color: transparent;
  color: #555555;
  border: 1px solid #31B655;
}
.NavbarBox .Heder_icon {
  justify-content: flex-end;
  gap: 5%;
  margin-top: 10px;
  display: flex;
}

.notificationList {
  min-width: 350px;
  position: absolute;
  top: 110%;
  right: 0;
  border: 1px solid gray;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  height: 400px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.notificationList::-webkit-scrollbar {
  display: none;
}
.notificationList .notificationHeader {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #fff;
  height: 12%;
  width: 320px;
  margin: 0 auto;
}
.notificationList .notificationHeader .notifytitle {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}
.notificationList .notificationHeader .clearNotify {
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  color: #000;
  transition: all 0.3s ease;
}
.notificationList .notificationHeader .clearNotify:hover {
  text-decoration: underline;
}
.notificationList .notificationContainer {
  height: 87%;
  overflow-y: scroll;
  padding: 5px 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.notificationList .notificationContainer::-webkit-scrollbar {
  display: none;
}
.notificationList .notificationContainer .notification_box {
  width: 320px;
  display: flex;
  gap: 10px;
  background-color: #fff;
  align-items: flex-start;
  margin: 0 auto;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}
.notificationList .notificationContainer .notification_box .notification_img {
  width: 50px;
}
.notificationList .notificationContainer .notification_box .notification_img .notiimgCircle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.notificationList .notificationContainer .notification_box .notification_img .notiimgCircle img {
  width: 100%;
  height: 100%;
}
.notificationList .notificationContainer .notification_box .notititle {
  font-size: 12px;
  font-weight: 600;
  color: #2b2b2b;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0;
  overflow: hidden;
}
.notificationList .notificationContainer .notification_box .notify_date {
  font-size: 12px;
  font-weight: 400;
  color: gray;
  display: block;
  text-align: end;
}

.Navbar_profile_logo_container {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.Navbar_profile_logo_container .Navbar_logo_imgs {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
}

.profileDropdown_container {
  right: 0px;
  z-index: 2;
  position: absolute;
  width: 260px;
  border-radius: 8px;
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.profileDropdown_container .Navbar_proflie_image_name_section {
  display: flex;
  gap: 20px;
  padding-left: 10px;
  padding-top: 20px;
}
.profileDropdown_container .Navbar_proflie_image_name_section .profile_names {
  font-weight: 700;
  font-size: 16px;
  color: #2c2525;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  margin: 0;
}
.profileDropdown_container .navbar_profile_orderList {
  padding: 0;
}
.profileDropdown_container .navbar_profile_orderList .profile_list {
  margin-left: 8px;
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  transition: all 0.3s ease;
  display: flex;
  gap: 10px;
  padding: 10px 0;
  align-items: center;
}
.profileDropdown_container .navbar_profile_orderList .profile_list span {
  font-size: 20px;
}
.profileDropdown_container .navbar_profile_orderList .profile_list:hover {
  color: #31B665;
}
.profileDropdown_container .navbar_profile_orderList li {
  list-style-type: none;
}

.nav_list1 a {
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  display: flex;
}
.nav_list1 ul {
  gap: 6%;
  cursor: pointer;
  display: flex;
  /* justify-content: center;  */
  list-style-type: none;
  color: gray;
}
.nav_list1 ul li {
  color: black;
  font-size: 16px;
  text-decoration: none;
  position: relative;
  opacity: 0.7;
  font-weight: 500;
  display: flex;
  gap: 40px;
  list-style-type: none;
  justify-content: flex-end;
  margin-right: 40px;
  font-family: "Inter", sans-serif;
  margin: 0px 0% 0 0%;
}
.nav_list1 ul li:hover {
  opacity: 1;
  color: #00b96a;
  text-decoration: underline;
}
.nav_list1 ul li:hover::before {
  width: 100%;
}
.nav_list1 ul li::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background: #00b96a;
  transition: all 0.45s;
}
.nav_list1 ul li > .anchor:hover::before {
  width: 80%;
}

/* navbar */
.canabisLawMainHeadings {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  line-height: 1.6;
}

.delete_account_btn_wrapper {
  padding: 20px 0;
}
.delete_account_btn_wrapper button {
  border: none;
  border-radius: 8px;
  background-color: rgb(196, 0, 0);
  color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  padding: 8px 15px;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0;
  background: white;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.sidebar .SliderImageProfile_container {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.sidebar .SliderImageProfile_container .Slider_inner_profile_imgs {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.sidebar .slider_image_profile_names_conatiner {
  width: 60%;
}
.sidebar .slider_image_profile_names_conatiner .slider_image_name_heading {
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  font-family: "Inter", sans-serif;
}
.sidebar .Slider_content_center {
  display: grid;
  justify-content: flex-start;
  padding-left: 20px;
  font-size: 16px;
}
.sidebar .Slider_content_center a span {
  margin-right: 10px;
}

footer .footer_main_div_display {
  border: 1px solid #E7E7E7;
  background-color: #f8f8f8;
  padding: 0 40px;
  padding-top: 40px;
}
footer .footer_main_div_display .footer_heading {
  text-align: center;
  color: #31B665;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
footer .footer_main_div_display .footer_sub_heading {
  color: #707070;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
footer .footer_main_div_display .main_content_logo {
  padding: 40px 0 0;
}
footer .footer_main_div_display .main_content_logo .footer_logo_container {
  width: 34%;
  border-right: 2px solid #e1e1e1;
  padding-left: 5%;
}
footer .footer_main_div_display .main_content_logo .footer_logo_container .footerLogo {
  width: 120px;
}
footer .footer_main_div_display .main_content_logo .footer_logo_container .footerLogo .footer_logo_image {
  width: 100%;
  height: auto;
  width: 100%;
  height: auto;
}
footer .footer_main_div_display .main_content_logo .footer_logo_container .contact_info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer_main_div_display .main_content_logo .footer_logo_container .contact_info .Footer_Left_side_menu {
  display: flex;
  gap: 5px;
  text-align: center;
  align-items: center;
}
footer .footer_main_div_display .main_content_logo .footer_logo_container .contact_info .Footer_Left_side_menu .footer_middle_icons_text {
  color: #5A7184;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .footer_main_div_display .main_content_logo .footer_list {
  width: 22%;
  border-right: 2px solid #e1e1e1;
  box-sizing: border-box;
  cursor: pointer;
  text-transform: capitalize;
}
footer .footer_main_div_display .main_content_logo .footer_list:nth-last-child(1) {
  border-right: none;
}
footer .footer_main_div_display .main_content_logo .footer_list .footer_main_list {
  margin-left: 5%;
  padding: 0;
  display: grid;
}
footer .footer_main_div_display .main_content_logo .footer_list .footer_main_list a {
  display: contents;
}
footer .footer_main_div_display .main_content_logo .footer_list .footer_main_list a.showmoreList {
  display: none;
  transition: all 0.3s ease;
}
footer .footer_main_div_display .main_content_logo .footer_list .footer_main_list p.footer_menu_heading {
  color: #183B56;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}
footer .footer_main_div_display .bottom_white_line {
  height: 3px;
  background-color: #e1e1e1;
  width: 100%;
  margin: 20px 0;
}
footer .footer_main_div_display .bottom_menu_items p span.footer_li {
  width: 24.33%;
  border-right: 3px solid #e1e1e1;
  text-align: center;
  width: 24.33%;
  border-right: 3px solid #e1e1e1;
  text-align: center;
}
footer .footer_main_div_display .footer_icons_column p {
  justify-content: center;
  justify-content: flex-end;
  gap: 10px;
  justify-content: center;
  justify-content: flex-end;
  gap: 10px;
}
footer .footer_bootom_headings_container {
  background-color: #31B665;
  text-align: center;
}
footer .footer_bootom_headings_container .copyright_title {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 3;
  margin: 0;
}

.bottom_menu_items p, .footer_icons_column p {
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
}

.bottom_menu_items p a {
  display: contents;
  display: contents;
}

footer .bottom_menu_items .footer_li, footer .footer_main_list .footer_li {
  color: #183B56;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  transition: all 0.3s ease;
  color: #183B56;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  transition: all 0.3s ease;
}

footer .bottom_menu_items p span.footer_li:hover, footer .footer_main_list .footer_li:hover {
  color: #31B665;
  font-weight: 600;
  color: #31B665;
  font-weight: 600;
}

.homeBannerContainer .mobile_imges {
  display: none;
}
.homeBannerContainer .homePageBanner_container {
  width: 100%;
  margin-bottom: 12px;
}
.homeBannerContainer .homePageBanner_container .HomePageBanner_image {
  width: 100%;
  height: 100%;
}

.recentViewProductSlider {
  scrollbar-width: none;
  display: flex;
  flex-wrap: nowrap;
  border-radius: 6px;
  color: #333;
  padding: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  height: auto;
  padding-left: 14px;
  margin: 20px 0;
}
.recentViewProductSlider::-webkit-scrollbar {
  display: none;
}
.recentViewProductSlider .dispensoriesContainer {
  min-width: 200px;
  position: relative;
  overflow: hidden;
  width: 200px;
}
.recentViewProductSlider .dispensoriesContainer .dispensoriesAddressBorder {
  background: #FFFFFF;
  border: 1px solid #31B665;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.4s ease;
}
.recentViewProductSlider .dispensoriesContainer .dispensoriesAddressBorder:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.recentViewProductSlider .dispensoriesContainer .dispensoriesAddressBorder .dispensoriesAddresCardimg .dispensories_image {
  width: 100%;
  height: 140px;
  margin: 0 auto;
  display: block;
  padding: 10px;
  padding-bottom: 0;
}
.recentViewProductSlider .dispensoriesContainer .dispensoriesAddressBorder .dispensoriesContentContainer {
  padding: 15px;
}
.recentViewProductSlider .dispensoriesContainer .dispensoriesAddressBorder .dispensoriesContentContainer .dispensoriesHeadings {
  color: #282625;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
.recentViewProductSlider .dispensoriesContainer .dispensoriesAddressBorder .dispensoriesContentContainer .Dispensaries_card_discription {
  display: flex;
  align-items: center;
  gap: 5px;
}
.recentViewProductSlider .dispensoriesContainer .dispensoriesAddressBorder .dispensoriesContentContainer .Dispensaries_card_discription p, .recentViewProductSlider .dispensoriesContainer .dispensoriesAddressBorder .dispensoriesContentContainer .Dispensaries_card_discription span {
  color: #949494;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.recentViewProductSlider .dispensoriesContainer .dispensoriesAddressBorder .dispensoriesContentContainer .homecardRating {
  position: absolute;
  top: 1px;
  right: 1px;
  background-color: #31B655;
  border-radius: 0 10px 0 10px;
  padding: 2px 4px;
}
.recentViewProductSlider .dispensoriesContainer .dispensoriesAddressBorder .dispensoriesContentContainer .homecardRating .DeliveryServicesRatingTitle {
  color: #ffffff;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.FeaturedBrandImageContainer {
  width: 160px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.FeaturedBrandImageContainer img {
  max-height: 100%;
  height: auto;
}

.about_card_Wraper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}
.about_card_Wraper .about_card {
  transition: all 0.3s ease;
  padding: 20px;
  width: 23%;
  border-radius: 14px;
  border: 1px solid #E1E1E1;
  background: #FFF;
}
.about_card_Wraper .about_card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.about_card_Wraper .about_card .about_text .acard_title {
  color: #191A1A;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}
.about_card_Wraper .about_card .about_text .acard_description {
  color: #5A7184;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
}
.about_card_Wraper .about_card .about_card_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.about_card_Wraper .about_card .about_card_img img {
  max-width: 100%;
}

@media (max-width: 1440px) {
  .bottom_menu_items p span.footer_li, footer .footer_main_list .footer_li {
    font-size: 16px;
  }
}
@media (max-width: 1400px) {
  footer .footer_main_div_display .footer_heading {
    font-size: 26px;
  }
  footer .footer_main_div_display .footer_sub_heading {
    font-size: 20px;
  }
  footer .footer_main_list p.footer_menu_heading {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1366px) {
  .about_card_Wraper .about_card {
    padding: 10px;
    width: 24%;
  }
}
@media (max-width: 1200px) {
  .ad_page .ad_imageTextSection .ad_Img_Area img {
    width: 100%;
    height: auto;
  }
  .ad_page .section_boxBanner {
    padding: 30px;
    margin: 40px 0;
  }
  .ad_page .section_boxBanner .ad_imageTextSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .ad_page .section_boxBanner .ad_imageTextSection .ad_textArea {
    width: 50%;
  }
  .ad_page .section_boxBanner .ad_imageTextSection .ad_Img_Area {
    width: 47%;
  }
  footer .footer_main_div_display .footer_heading {
    font-size: 26px;
  }
  footer .footer_main_div_display .footer_sub_heading {
    width: 75%;
  }
}
@media (max-width: 992px) {
  .ad_page .ad_imageTextSection {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .ad_page .ad_imageTextSection .ad_textArea {
    width: 58%;
  }
  .ad_page .ad_imageTextSection .ad_Img_Area {
    width: 38%;
  }
  .ad_page h3 {
    font-size: 20px;
  }
  .ad_page h2 {
    font-size: 24px;
  }
  .ad_page h4 {
    font-size: 18px;
  }
  .ad_page P {
    font-size: 14px;
  }
  .ad_page ul li p {
    margin-bottom: 8px;
  }
  footer .footer_main_div_display {
    padding: 0 25px;
  }
  footer .footer_main_div_display .footer_heading {
    font-size: 22px;
  }
  footer .footer_main_div_display .footer_sub_heading {
    font-size: 18px;
  }
  footer .footer_main_div_display .main_content_logo .footer_logo_container .footerLogo {
    width: 140px;
  }
  .bottom_menu_items p span.footer_li, footer .footer_main_list .footer_li {
    font-size: 14px;
  }
  footer .footer_main_list p.footer_menu_heading {
    font-size: 16px;
  }
  .about_card_Wraper {
    row-gap: 30px;
  }
  .about_card_Wraper .about_card {
    padding: 25px;
    width: 48%;
  }
}
@media (max-width: 768px) {
  .ad_page .ad_imageTextSection {
    margin-bottom: 40px;
  }
  .ad_page .ad_imageTextSection .ad_textArea {
    width: 100%;
    order: 2;
  }
  .ad_page .ad_imageTextSection .ad_Img_Area {
    width: 100%;
    order: 1;
    text-align: center;
  }
  .ad_page .ad_imageTextSection .ad_Img_Area img {
    width: 80%;
  }
  .ad_page .section_boxBanner {
    padding: 20px;
  }
  .ad_page .section_boxBanner .ad_imageTextSection {
    gap: 30px;
  }
  .ad_page .section_boxBanner .ad_imageTextSection .ad_textArea {
    width: 100%;
  }
  .ad_page .section_boxBanner .ad_imageTextSection .ad_Img_Area {
    width: 100%;
  }
  .ad_page h3 {
    font-size: 20px;
  }
  .ad_page h2 {
    font-size: 24px;
  }
  .ad_page h4 {
    font-size: 18px;
  }
  .ad_page P {
    font-size: 14px;
  }
  .ad_page ul li p {
    margin-bottom: 8px;
  }
  footer .footer_main_div_display .footer_sub_heading {
    width: 100%;
  }
  footer .footer_main_div_display .main_content_logo {
    gap: 20px;
  }
  footer .footer_main_div_display .main_content_logo .footer_list {
    width: 48%;
    border-right: none;
    box-sizing: border-box;
  }
  footer .footer_main_div_display .main_content_logo .footer_logo_container {
    width: 48%;
    border-right: none;
  }
  footer .footer_main_div_display .main_content_logo .footer_logo_container .footerLogo {
    width: 160px;
  }
  footer .footer_bootom_headings_container .copyright_title {
    font-size: 16px;
    line-height: 3;
  }
  .homeBannerContainer .destop_image {
    display: none;
  }
  .homeBannerContainer .mobile_imges {
    display: block;
  }
  .CategoryBordrr .catagoryTabs_section {
    padding: 10px;
  }
  .CategoryBordrr .catagoryTabs_section .CategorySliderImageBlock .catagoriesTabImg {
    width: 100px;
    height: 100px;
    cursor: pointer;
  }
  .recentViewProductSlider .dispensoriesContainer {
    min-width: 180px;
  }
  .recentViewProductSlider .dispensoriesContainer .dispensoriesAddressBorder .dispensoriesContentContainer {
    padding: 10px;
  }
  .recentViewProductSlider .dispensoriesContainer .dispensoriesAddressBorder .dispensoriesContentContainer .dispensoriesHeadings {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .recentViewProductSlider .dispensoriesContainer .dispensoriesAddressBorder .dispensoriesContentContainer .Dispensaries_card_discription p {
    font-size: 14px;
  }
  .recentViewProductSlider .dispensoriesContainer .dispensoriesAddressBorder .dispensoriesContentContainer .homecardRating .DeliveryServicesRatingTitle {
    font-size: 16px;
  }
  .FeaturedBrandImageContainer {
    width: 120px;
    height: 90px;
  }
  .about_card_Wraper .about_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .about_card_Wraper .about_card .about_text .acard_title {
    text-align: left;
  }
}
@media (max-width: 576px) {
  .ad_page .ad_imageTextSection {
    margin-bottom: 24px;
  }
  .ad_page .ad_imageTextSection .ad_textArea {
    width: 100%;
    order: 2;
  }
  .ad_page .ad_imageTextSection .ad_Img_Area {
    width: 100%;
    order: 1;
    text-align: center;
  }
  .ad_page .ad_imageTextSection .ad_Img_Area img {
    width: 80%;
  }
  .ad_page h3 {
    font-size: 18px;
  }
  .ad_page h2 {
    font-size: 20px;
  }
  .ad_page h4 {
    font-size: 16px;
  }
  .ad_page P {
    font-size: 12px;
  }
  .ad_page ul li p {
    margin-bottom: 8px;
  }
  .notificationList {
    min-width: 300px;
    z-index: 10;
    right: -50px;
  }
  .canabisLawMainHeadings {
    font-size: 16px;
  }
  footer .footer_main_list p.footer_menu_heading {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .viewallbtn {
    font-size: 14px;
  }
  .Slider_inner_profile_imgs {
    width: 30px;
    height: 30px;
  }
  footer .footer_main_div_display {
    padding-top: 20px;
    padding: 0 15px;
  }
  footer .footer_main_div_display .footer_sub_heading {
    font-size: 14px;
  }
  footer .footer_main_div_display .main_content_logo {
    padding: 20px 0 0;
    padding: 20px 0;
    justify-content: space-between;
  }
  footer .footer_main_div_display .main_content_logo .footer_list {
    width: 29%;
    padding: 0;
  }
  footer .footer_main_div_display .main_content_logo .footer_logo_container {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  footer .footer_main_div_display .main_content_logo .footer_logo_container .footerLogo {
    width: 100px;
    margin: 0;
  }
  footer .footer_main_div_display .footer_icons_column p {
    justify-content: center;
  }
  .homeBannerContainer .homePageBanner_container {
    margin-bottom: 0;
  }
  .CategoryBordrr .catagoryTabs_section .shopByCategoryHeading {
    font-size: 16px;
    margin-left: 0px;
  }
  .CategoryBordrr .catagoryTabs_section .CategorySliderImageBlock .catagoriesTabImg {
    width: 75px;
    height: 75px;
    cursor: pointer;
  }
  .CategoryBordrr .catagoryTabs_section .CategorySliderImageBlock .Category_title {
    font-size: 12px;
  }
  .recentViewProductSlider .dispensoriesContainer {
    min-width: 180px;
  }
  .recentViewProductSlider .dispensoriesContainer .dispensoriesAddressBorder .dispensoriesAddresCardimg .dispensories_image {
    height: 140px;
  }
  .recentViewProductSlider .dispensoriesContainer .dispensoriesAddressBorder .dispensoriesContentContainer {
    padding: 10px;
  }
  .recentViewProductSlider .dispensoriesContainer .dispensoriesAddressBorder .dispensoriesContentContainer .dispensoriesHeadings {
    font-size: 16px;
  }
  .recentViewProductSlider .dispensoriesContainer .dispensoriesAddressBorder .dispensoriesContentContainer .Dispensaries_card_discription p {
    font-size: 14px;
  }
  .recentViewProductSlider .dispensoriesContainer .dispensoriesAddressBorder .dispensoriesContentContainer .homecardRating .DeliveryServicesRatingTitle {
    font-size: 14px;
  }
  .about_card_Wraper .about_card {
    padding: 20px;
    flex-wrap: wrap;
  }
  .about_card_Wraper .about_card .about_text .acard_title {
    text-align: center;
  }
}
@media (max-width: 400px) {
  footer .footer_main_div_display {
    padding-top: 20px;
    padding: 0 15px;
  }
  footer .footer_main_div_display .footer_sub_heading {
    font-size: 14px;
  }
  footer .footer_main_div_display .main_content_logo {
    padding: 20px 0 0;
    padding: 20px 0;
    justify-content: space-between;
    gap: 10px;
  }
  footer .footer_main_div_display .main_content_logo .footer_list {
    width: 31%;
  }
  footer .footer_main_list .footer_li {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
  .CategoryBordrr .catagoryTabs_section .CategorySliderImageBlock .Category_title {
    font-size: 10px;
  }
}/*# sourceMappingURL=customstyle.module.css.map */