iframe.iframeweedx {
  height: 70vh !important;
}

.integratdclass .newFlavour_container {
  height: auto;
  padding: 10px;
}
.integratdclass .newFlavour_container .newFlavour_image_container_height {
  height: auto;
}
.integratdclass .newFlavour_container .newFlavour_image_container_height .newFlavourimage_div {
  height: 100px;
  width: 100px;
}
.integratdclass .newFlavour_container .newFlavour_image_container_height .newFlavourimage_div img {
  height: 100%;
  width: 100%;
}
.integratdclass .newFlavour_container .newFlavourContent_height {
  height: auto;
}

.integratedheader {
  background-color: #FFF;
  box-shadow: 0px 4px 5px -1px rgba(133, 124, 133, 0.5);
}

.prod_cat_right_sec {
  height: 800px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.prod_cat_right_sec::-webkit-scrollbar {
  display: none;
}

.similerproduxt {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}
.similerproduxt .swiper-button-prev, .similerproduxt .swiper-button-next {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.similerproduxt .swiper-button-prev:after, .similerproduxt .swiper-button-next:after {
  font-size: 24px;
  font-weight: 700;
  color: #31B655;
}
.similerproduxt .swiper-button-prev.swiper-button-disabled, .similerproduxt .swiper-button-next.swiper-button-disabled {
  pointer-events: unset;
}

.menuintregarteproductpage .newProductDetails_heading {
  font-size: 28px;
  line-height: 1;
}
.menuintregarteproductpage .newProductDetails_subHeadingss {
  font-size: 18px;
}
.menuintregarteproductpage .newProductDetailsButon .newProductdetailsButtonss {
  font-size: 14px;
}
.menuintregarteproductpage .newProduct_Weight {
  font-size: 16px;
}
.menuintregarteproductpage .newProd_grms {
  font-size: 16px;
}
.menuintregarteproductpage .newProductAboutUs_description {
  font-size: 14px;
}
.menuintregarteproductpage .newProduct_doller_price {
  font-size: 20px;
}
.menuintregarteproductpage .newProduct_Gms {
  font-size: 14px;
}

.integratedmanuFooter {
  background-color: #F6F6F6;
  padding: 12px 0;
  width: 100%;
}

#oopss {
  background: #fff;
  width: 600px;
  height: 100%;
  padding: 50px;
  line-height: 1.5em;
  border-radius: 8px;
  margin: 20px auto;
}
#oopss #error-text {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Shabnam", Tahoma, sans-serif;
  color: #31B655;
  direction: rtl;
}
#oopss #error-text img {
  margin: 0 auto;
  height: 280px;
}
#oopss #error-text span {
  font-size: 28px;
  text-align: center;
  font-weight: 700;
}
#oopss #error-text p.p-a {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  margin: 10px 0 15px 0;
}
#oopss #error-text p.p-b {
  font-size: 15px;
}
#oopss #error-text .back {
  background: #fff;
  color: #31B655;
  font-size: 16px;
  text-decoration: none;
  margin: 0.5em auto 0;
  padding: 8px 12px;
  border-radius: 500px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #31B655;
  font-weight: 600;
  transition: all 300ms ease;
}

@media screen and (max-width: 768px) {
  .integratedheader .store_detail_order_list {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    display: block;
    height: 100vh;
    background-color: #fff;
    width: 100%;
    padding: 15px;
  }
  .integratedheader .store_detail_order_list .store_detail_list {
    display: block;
    padding: 15px 0;
    font-size: 18px;
    line-height: 1.5;
  }
  .integratedheader .store_detail_order_list .crossbtn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  #oopss {
    width: 100%;
    padding: 10px;
  }
  #oopss #error-text {
    font-size: 22px;
  }
  #oopss #error-text img {
    height: 200px;
  }
  #oopss #error-text span {
    font-size: 22px;
  }
  #oopss #error-text p.p-a {
    font-size: 14px;
  }
  #oopss #error-text .back {
    font-size: 15px;
    padding: 8px;
    font-weight: 600;
  }
}/*# sourceMappingURL=Style.css.map */