@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.deals_card{
    width: 260px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 8px;
    position: relative;
    margin: 10px 0;
    min-width: 240px;
}
.deals_card .action_icons{
    position: absolute;
    top: 0;
    right: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
}
.deals_card .card_img .product_search_result_image{
  width: 100%;
  height: 220px;
}
.deals_card .productSearchResultParagraph{
    font-size: 18px;
    line-height: 1.4;
    font-weight: 600;
    margin: 0;
}
.deals_card .product_search_result_sub_heading{
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.37);
    margin-bottom: 5px;
}
.deals_card .product_search_result_span1 , .product_search_result_span2{
    display: block;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}
.deals_card .productSearch{
    margin: 0;
    font-size: 16px;
        
}
.deals_card .productSearch p{
    margin: 10px 0;
}
.cursor-pointer{
    cursor: pointer;
}
.shareiconcontainer svg{
    cursor: pointer;
    transition: all .3s ease;
}
.shareiconcontainer:hover svg{
   fill: #31B655;
}
.offerlistwrapper{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.offercard{
   display: flex;
   border: 1px dashed #3b3b3b;
   width: 320px;
   border-radius: 8px;
   overflow: hidden;
}
.offercard .leftcoupon{
    width: 40%;
    border-right: 1px dashed #3b3b3b;
    text-align: center;
    padding: 15px;
}
.offercard .rightcoupon{
    width: 60%;
    padding: 15px;
text-align: center;
}

.offercard .leftcoupon span{
    display: block;
}
.offercard .leftcoupon span:nth-child(1){
 font-size: 15px;
 font-weight: 600;
 line-height: 1.4;
 font-family: "Inter", sans-serif;
}

.offercard .leftcoupon span:nth-child(2){
   
    font-size: 13px;
    font-weight: 600;
    line-height: 1.6;
    font-family: "Inter", sans-serif;
    color: #FF7200;
    cursor: copy;
    position: relative;
}
.offercard .leftcoupon span:nth-child(2) .copytooltip{
    position: absolute;
    top: 20px;
    width: 50px;
    left: 50%;
    transform: translate(-50% , 0 );
    height: 20px;
    font-weight: 400;
    line-height: 20px;
    font-size: 10px;
    background-color: rgb(0, 98, 122);
    color: #fff;
}

.offercard .leftcoupon span:nth-child(3){
    font-size: 14px;
    font-weight: 600;
    line-height: 1.6;
    font-family: "Inter", sans-serif;
    color: #336C90;
}
.offercard .rightcoupon span:nth-child(1){
    font-size: 15px;
    font-weight: 600;
    line-height: 1.4;
    display: block;
    font-family: "Inter", sans-serif;
   }
   
   .offercard .rightcoupon span:nth-child(2){
        font-family: Inter;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.6;
        display: block;
        font-family: "Inter", sans-serif;
        color: #000;
   }
   
   .offercard .rightcoupon span:nth-child(3){
       font-size: 14px;
       font-weight: 600;
       line-height: 1.6;
       display: block;
       color: #336C90;
       font-family: "Inter", sans-serif;
   }

@media only screen and (max-width: 600px) {
    .deals_card .card_img .product_search_result_image{
        width: 100%;
        height: 180px;
    }
    .offercard{
        width: 100%;
     }
     .offercard .leftcoupon{
        width: 50%;
       
    }
    .offercard .rightcoupon{
        width: 50%;
       
    }
}