@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.AddProductCartContainerinner {
    display: block;
    height: auto;
    margin-bottom: 10px;
  }
  .carttableheadings{
    font-size: 16px;
    font-weight: 600;
    line-height: 2;
  }
  .add_prod_cart_p p{
    color: #b7b7b7db;
    font-size: 14px;
   
  }
  .addToCart_deliver {
    height: 59px;
  }
  .AddProductCartContainer {
    display: flex;
    height: auto;
  }
  .add_prod_span_amount {
    color: #31B665;
    font-weight: 600;
    font-size: 16px;
  }
  .Add_prod_item_image_cont{
   width: 70px;
  }
  .Add_prod_item_image_cont img {
    width: 70px;
    height: 70px;
    object-fit: cover;
  }
  .Add_prod_content_cont{
   flex: 1;
  }

  .add_prod_para_font h5 {
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .add_prod_para_margin {
    margin-top: 0px;
  }
  
  .Add_prod_sub_minus_cont {
    border: 1px solid #dee2e6;
    height: 30px;
    width: 14.666667% !important;
  }
  
  
  .addprod_quant {
    width: 39px !important;
  }
  
  .addprod_quant p {
    margin-left: 14px;
    font-weight: 700;
    font-size: 18px;
  }
  
  .add_prod_cart_btn {
    border-style: none;
    background-color: white;
    border: 1px solid #dee2e6;
    /* color:#B7B7B7 !important; */
    height: 29px;
    width: 29px;
    font-weight: 700;
  }
  
  
  .add_prod_btn_amount {
    display: flex;
  }
  
.AddToCartReviewBtn {
  border: 1px solid #dee2e6;
  width: 120px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addToCart_btn {
  width: 50px;
}

.AddToCartCount {
  font-weight: 700;
  font-size: 18px;
}
.order_summary_flex .fontStyle{
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
.add_prod_cart_summary_p p {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
.add_to_product_btn_div {
  height: 30px !important;
  border: 1px solid #dee2e6;

}

.Add_prod_cart_amount {
  display: flex;
  margin-left: 20px;
  font-size: x-large;
  color: gray;
  cursor: pointer;
}

.Add_prod_cart_amount p {
  color: #282625;
}


.Add_prod_cart_amount_right_side {
  position: relative;
  margin-top: 100px;
}


.addTocard_main_container_height {
  height: auto;
}

.addToCartHeadingss {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
}
.addToCartHeadingss a{
  color: #000000;
}
.Add_product_cart_right_container_summary {
  margin-top: 19px;
}
.addtoproduct_card{
  width: 95%;
  margin: 10px auto;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
}
.mb_addtoproduct_card_img{
  width: 25%;
}
.mb_addtoproduct_card_img img{
  width: 100%;
}
.mb_addtoproduct_card_content{
  width:72%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.delete_icons_add{
  font-size: 20px;
}
@media(max-width:1000px) {
  .AddProductCartContainer {
    flex-direction: column;
  }

  .AddProduct_Cart_Btn {

    margin-top: 10px;
  }

  .add_prod_para_font h5 {
    font-size: 16px;
    font-weight: 700;
  }

  .Add_product_cart_right_container_summary {
    position: relative;
    left: 0px;
    top: -10px;
    width: 100% !important;
  }
}
@media(max-width:768px){
  .delete_icons_add{
    font-size: 14px;
  }
  .destop_view{
     display: none;
  }
 
  .addToCart_btn {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .AddToCartCount{
    width: 40%;
  }
}
@media(max-width:692px) {
  .AddProdCartFont_weight h5 {
    font-size: 16px !important;
  }
  .add_prod_cart_summary_p p {
    font-size: 12px;
  }
  .add_prod_para_font p {
    font-size: 18px !important;
  }
  .Add_prod_sub_minus_cont {
    width: 20% !important;
  }
}

@media(max-width:582px) {
  .Add_prod_content_cont {
    width: 64% !important;
  }

  .AddProdCartFont_weight h5 {
    font-size: 16px !important;
  }

  .add_prod_cart_summary_p p {
    font-size: 12px;

  }

  .Add_prod_sub_minus_cont {
    width: 33% !important;
  }
 
}

@media (max-width: 600px) {
  .Add_prod_sub_minus_cont {
    width: 27% !important;
  }
}

@media(max-width:442px) {
  .Add_prod_content_cont {
    width: 55% !important;
  }

  .AddProdCartFont_weight h5 {
    font-size: 14px !important;
  }


  .add_prod_cart_p {
    font-size: 12px;
    color: #B7B7B7;
  }

  .add_prod_cart_summary_p p {
    font-size: 12px;

  }

  .Add_prod_sub_minus_cont {
    width: 47% !important;
  }

  .add_prod_para_font h5 {
    font-size: 14px;
  }

  .Add_prod_item_image_cont {
    margin: 4px;
  }

  .Add_prod_item_image_cont img {
    width: 100%;
    height: 50px !important;
  }
  .Add_prod_content_cont .add_prod_cart_p_title{
    font-size: 12px;
 }
}
@media(max-width:1400px) {
  .Add_prod_content_cont .add_prod_cart_p_title{
      font-size: 14px;
  }
}


.order_summary_flex {
  display: flex;
  justify-content: space-between;
}
.Add_product_cart_right_container_summary {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
}
.order_Summary_total_container {
  background: #31B665;
  padding: 10px;
  border-radius: 4px;
  color: #fff;

}
.AddProdCartFont_weight h5 {
  font-weight: 700;
  font-size: 23px;
}
.add_prod_cart_p_title{
  font-size: 16px;
  word-break: break-all;
}
.add_prod_cart_p{
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: #616161;
}