@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.HomePageDealsSignupContainer {
    padding: 40px 0;
    background: #f6f6f6;
    border-radius: 40px;
  }
  .newsletterFormFeild{
    /* background-color: #E6E6E6; */
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    width: 500px;
  }
  .newsletterFormFeild .newsletter_btn{
    width: 25%;
  }
  .newsletterImage{
    max-width: 200px;
    margin: 0 auto;
  }
  .newsletterImage img{
    width: 100%;
  }
  .homePageSignupHeight {
    height: 100px;
    width: 92%;
    height: 216px;
    display: grid;
    align-items: center;
  }
  .thankforsubscribe{
    font-size: 34px;
    color: #31B655;
    line-height: 1.5;
    text-align: center;
    font-weight: 700;
    word-spacing: 10px;
    letter-spacing: 1px;
  }

  .homePageSignup_heading h3{
    font-family: "Inter", sans-serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 50.83px;
    text-align: left;
    color: #252B42;

  }
  .homePageSignup_paragraph p {
  
    font-family: Averta Demo PE Cutted Demo;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: left;
    color: #858C94;
    
  }

  @media (max-width: 1200px){
    .newsletterFormFeild{
      width: 90%;
    }
    .homePageSignup_heading h3{
      font-size: 28px;
      line-height: 1.5;
  
    }
  }
  @media (max-width: 768px){
    .homePageSignup_paragraph p {
        font-size: 20px;
      }
      .newsletterFormFeild{
        width: 80%;
        margin: 0 auto;
      }
      .homePageSignup_heading h3{
        font-size: 24px;
        text-align: center;
    
      }
      .homePageSignup_paragraph p {
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
      }
  }
  @media (max-width: 480px){
    .homePageSignup_paragraph p {
      font-size: 18px;
      margin-bottom: 0;
    }
    .newsletterFormFeild{
        width: 95%;
      }
      .HomePageDealsSignupContainer{
        padding: 20px 0;
      }
      .newsletterFormFeild{
        width: 90%;
        margin: 0 auto;
      }
      .homePageSignup_heading h3{
        font-size: 18px;
        text-align: center;
    
      }
      .homePageSignup_paragraph p {
        font-size: 14px;
        line-height: 1.5;
        font-weight: 500;
        text-align: center;
        width: 90%;
        margin: 0 auto 20px;
      }
  }