  @import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Overpass:wght@300;400;500;600;700;800;900&display=swap');
  .blog_searchBar_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    height: 50px;
  
    .backButton_section {
      width: 30%;
      .backBtnCol_searchBar_height {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        gap: 10px;
        span {
          margin-left: -4px;
          cursor: pointer;
          &:last-of-type {
            margin-left: 0; // To reset the margin for the second span
          }
          &.blogBackSpan {
            color: #000000;
            font-weight: 700;
            font-size: 20px;
          }
        }
      }
    }
  }
  .blogEditorContainer {
    border: 1px solid #E6E6E6;
    height: 100%;
    margin-top: 40px;
    .UserNmae_Blog {
        display: flex;
        gap: 20px;
        align-items: center; 
        background-color: #F6F6F6;
        width: 100%;
        padding: 5px 20px;
        .UserNmae {
          color: #000;
          font-size: 15px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
    }
  
    .blog_Image {
      position: relative;
      height: 17rem;
      width: 100%;
      background-position:center;
      background-repeat: no-repeat;
      background-size: cover;
  
      .overlay_blog {
        width: 100%;
        height: 100%;
        background: #000000a4;
      }
  
      .blog_Title {
        font-weight: 800;
        font-size: 32px;
        top: 50%;
        left: 50%;
        width: 45%;
        text-align: center;
        transform: translate(-50%,-50%);
        position: absolute;
        color: rgb(255, 255, 255);
        text-transform: capitalize;
        word-break:break-word;
      }
    }
  
    .blog_text_container {
      p{
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
       }
      h1{
        font-size: 32px;
        font-weight: 700;
        font-family: 'Overpass', sans-serif;
      }
      h2{
        font-size: 26px;
        font-weight: 600;
        font-family: 'Overpass', sans-serif;
      }
      h3{
        font-size: 23px;
        font-weight: 600;
        font-family: 'Overpass', sans-serif;
      }
      h4{
        font-size: 18px;
        font-weight: 500;
        font-family: 'Overpass', sans-serif;
      }
      h5{
        font-size: 16px;
        font-weight: 500;
        font-family: 'Overpass', sans-serif;
      }
      h6{
        font-size: 14px;
        font-weight: 400;
        font-family: 'Overpass', sans-serif;
      }

      .blogEditorPaddings {
        font-size: 16px;
        color: #000000;
        font-weight: 400;
        padding: 10px;
        margin-top: 15px;
        P{
          strong{
        font-weight: 500 !important;

          }
        }
        ul{
           li{
               margin-bottom: 10px;
            }
        }
        .linkTaginsideEditer {
          a{
            span{
              color: #31B665 !important ;
            }
          }
           img{
            max-width: 100% !important;
            height: auto !important;
          }
           table  {
            border-collapse: separate !important ;
          }
           table tbody {
            border: revert-layer !important;
            border-color: inherit;
            border-collapse: separate !important ;
          }
           table tbody, td {
            border-color: inherit;
            border-style: solid;
            border-width: 1px !important ; 
          }
        }
      }
    }
  
    .Linkofblog {
      flex-wrap: wrap;
      display: flex;
      vertical-align: middle;
      align-items: center;
      gap: 10px;
      height: 50px;
      background: #F6F6F6;
      .BlogSocal {
        gap: 10px;
        &:hover{
          svg{
            fill: #31B665 !important;
          }
        }
        .blogViewCounts {
          margin-left: 8px; // Adjust as needed
        }
  
        .destop_view {
          // Add styles for destop_view
        }
  
        #center1 {
          display: flex;
          align-items: center;
          justify-content: center;
        }
  
        .like {
          .AiFillHeart {
            // Add styles for AiFillHeart
          }
        }
      }
      .viewsBlog {
        display: flex;
        align-items: center;
        margin-right: 10px;
        gap: 2px;
        font-size: 15px;
        height: 50px;
        display: inline-flex;
        .blogViewCounts {
          margin-left: 8px; // Adjust as needed
  
          .destop_view {
            // Add styles for destop_view
          }
        }
  
        #center1 {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  .blogsCommentCountCol {
    display: flex;
    height: 100px;
    align-items: center;
    .blogsCommentheadings {
      color: #000000;
      font-size: 20px;
      font-weight: 700;
    }

    .blogCommentCardArrowBtn {
      display: flex;
      justify-content: flex-end;
    }
  }
  .blogCommentEachCards {
    border: 1px solid;
    padding: 15px;
    width: 600px;
    margin: 15px auto;
    .blogsCommentCardDateCol {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      .blogsCommentCardDate {
        color: #A8A8A8;
        font-size: 14px;
        font-weight: 500;
      }
    }
    .commentCardImages {
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      .imageContainer {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        .blogsCommentImages {
          height: 100%;
          width: 100%;
          border-radius: 50%;
        }
      }
    }
    .commentCradContentSection {
      padding-left: 20px;
      .blogCommentName {
        color: #000000;
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 0px;
        word-break: break-all;
      }

      .blogUserComments {
        color: #252525;
        font-weight: 400;
        font-size: 14px;
        margin-top: 8px;
        word-break: break-word;
      }
    }
  }
  .blogListWrapper{
     min-height: 60vh;
    .blogListCard {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      border: 1px solid #747474;
      padding: 15px;
      border-radius: 8px;
      margin-bottom: 20px;
        .blogCardImg {
          a {
            display: block;
            img {
              height: auto;
              width: 100%;
              max-height: 220px;
              object-fit: cover;
            }
          }
        }
      

        .blogcardText {
          .blogDate {
            text-align: end;
            color: #535353;
            font-size: 14px;
          }
          a {
            text-decoration: none;
            
            h2.blogcardHeading {
              color: #183B56;
              font-size: 20px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
            
            .blogcardDescription {
              display: -webkit-box;
              overflow: hidden;
              color: #5A7184;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              height:100px;
               h1 ,  h2,  h3, h4, h5 , h6{
                display: none !important;
               }
            }
          }
    
          .extra_function {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            border-top: 1px solid #74747470;
            font-weight: 700;
            font-size: 14px;
            padding: 10px 0 0;
            color: #00b96a;
    
            &.extra_function_destop {
              display: flex;
              // Add any additional desktop-specific styles here
            }
    
            &.extra_function_mobile {
              display: none;
            }
              .action_icons {
                font-size: 16px;
                margin-right: 10px;
              }
          }
        }
    
      .col-12 {
        width: 100%;
        
        .extra_function {
          display: none !important;
    
          &.extra_function_mobile {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
          }
        }
      }
    }
  }
  @media(max-width:992px) {
    .blogEditorContainer{
      .blog_Image{
        .blog_Title{
          font-weight: 700;
          font-size: 20px;
          width: 70%;
        }
      }
    }
    .blog_text_container{

      h1{
        font-size: 26px;
      }
      h2{
        font-size: 22px;
      }
      h3{
          font-size: 20px;
      }
      h4{
          font-size: 16px;
      }
      h5{
          font-size: 14px;
      }
      h6{
          font-size: 12px;
      }
      p{
        font-size: 14px;
      }
    }
  }
  @media(max-width:768px){
    .blogListWrapper{
      padding: 0 30px;
   
    .blogListCard {
      border: 1px solid #747474;
      padding: 10px;
      border-radius: 8px;
      margin: 0 auto;
      margin-bottom: 15px;
      width: 90%;
    }
    .blogcardText {
      .blogDate {
        text-align: end;
        color: #535353;
        font-size: 14px;
      }
    }
    }

    .blogListWrapper .blogListCard .col-12 .extra_function.extra_function_mobile{
      display: flex !important;

    }
    .extra_function_destop{
      display: none !important;
    }
    .blogcardDescription p{
      margin-bottom: 0;
    }
    .blogcardHeading{
      font-size: 14px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: 4px;
    }
    .blogcardDescription{

        font-size: 12px;
    }
  }
  @media(max-width:480px) {
    .blogcardText {
       .blogcardDescription{
        height: 75px;
    }
  }
  .blogListCard{
    width: 100%;
  }
    .blog_Title{
        font-weight: 700;
        font-size: 24px;
        width: 90%;
      }
      .blog_text_container{
          h1{ font-size: 24px; }
          h2{ font-size: 22px; }
          h3{ font-size: 20px; }
          h4{ font-size: 14px; }
          h6{ font-size: 12px; }
          p{  font-size: 16px; }
    }
      
    .blog_Image{
      height: 12rem;
    }
  }