# This workflow will build and push a new container image to Amazon ECR,
# and then will deploy a new task definition to Amazon ECS, when there is a push to the "main" branch.

name: Deploy to Amazon ECS

on:
  push:
    branches: [ "main" ]

env:
  AWS_REGION: us-east-1                             
  ECS_SERVICE: WeedxStage                 
  ECS_CLUSTER: Weedx                 
  ECS_TASK_DEFINITION: TaskWeedxStage 
  ORG: selnox                                     
                                               

permissions:
  contents: read

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - uses: actions/checkout@v4
    - name: Use Node.js 21.x
      uses: actions/setup-node@v4
      with:
        node-version: 21.x
        cache: 'npm'
    
    - run: npm install --force
    
    - run: npm run build

    - name: Build, tag, and push image to Amazon ECR
      id: build-image
      env:
        IMAGE_NAME: weedx 
        IMAGE_TAG: ${{ github.sha }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      run: |
        docker build -t $ORG/$IMAGE_NAME:$IMAGE_TAG .
        echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin
        docker push $ORG/$IMAGE_NAME:$IMAGE_TAG
        docker tag $ORG/$IMAGE_NAME:$IMAGE_TAG $ORG/$IMAGE_NAME:main
        docker push $ORG/$IMAGE_NAME:main
        echo "image=$ORG/$IMAGE_NAME:$IMAGE_TAG" >> $GITHUB_OUTPUT

    - name: Get Task Defination
      run: | 
        aws ecs describe-task-definition --task-definition ${{ env.ECS_TASK_DEFINITION }} --query taskDefinition > task-definition.json

    - name: Fill in the new image ID in the Amazon ECS task definition
      id: task-def
      uses: aws-actions/amazon-ecs-render-task-definition@v1
      env:
        CONTAINER_NAME: weedx
      with:
        task-definition: task-definition.json
        container-name: ${{ env.CONTAINER_NAME }}
        image: ${{ steps.build-image.outputs.image }}

    - name: Deploy Amazon ECS task definition
      uses: aws-actions/amazon-ecs-deploy-task-definition@v1
      with:
        task-definition: ${{ steps.task-def.outputs.task-definition }}
        service: ${{ env.ECS_SERVICE }}
        cluster: ${{ env.ECS_CLUSTER }}
        wait-for-service-stability: true
